.row_posters{
	display :flex;
	overflow-y: hidden;
	overflow-x: scroll;

}
.row_poster{
  object-fit :contain;
  display: inline-block;
  margin: 25px 10px;
  max-height  :200px;
}
.row_poster:hover{
	transform: scale(1.10);
}
.title{
	color:white;
}